html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #eeecec;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

.header {
    margin: 20px;
    margin-bottom: 10px;
}

.paragraph {
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 22px;
    margin: 20px;
    margin-bottom: 0px;
}